<div class="grid-container">
  <div class="row">
    <div class='home_div'>
      <h1 class='main_title'> WELCOME TO THE NEW ERA </h1>
      <h3 class='main_slogan'> We make high quality, hand crafted websites for your companies needs.</h3>
        <a href='contacts/new' class="home_btns col_2">Begin Your Journey</a>
        <a href='our_work' class="home_btns col_2">See Our Work</a>
    </div>
  </div>  
  
  <div class="row summary_div">
    <div class='summary_div'>
      <div class='sub_summary col_4'>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-code fa-stack-1x fa-inverse"></i>
        </span>
        <h1 class='summary_title'> What We Do </h1>
        <hr class="sub_summary_under">
        <p class='summary_text'> We develop innovative websites for small businesses and startups that builds your online presence, your brand, and customer satisfacton. </p>
        <a href='#our_mission_title' class="home_btns">Our Purpose</a>
      </div>
      <div class='sub_summary col_4'>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-users fa-stack-1x fa-inverse"></i>
        </span>
        <h1 class='summary_title'> The Crew </h1>
        <hr class="sub_summary_under">
        <p class='summary_text'> Humble, kind, and hardworking. We stay true to ourselves & our values, have a deep passion for coffee, and always stay ahead of the game. </p>
        <a href='our_team' class="home_btns">Check Us Out</a>
      </div>
      <div class='sub_summary col_4'>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-magic fa-stack-1x fa-inverse"></i>
        </span>
        <h1 class='summary_title'> Our Creations </h1>
        <hr class="sub_summary_under">
        <p class='summary_text'> This is where we get to shine. We build appealing websites for our clients. Our creations are truly magical! Check them out.  </p>
        <a href='our_work' class="home_btns">View Our Work</a>
      </div>
      <div class='sub_summary col_4'>
        <span class="fa-stack fa-4x">
          <i class="fa fa-circle fa-stack-2x"></i>
          <i class="fa fa-hand-peace-o fa-stack-1x fa-inverse"></i>
        </span>
        <h1 class='summary_title'> Hire Us </h1>
        <hr class="sub_summary_under">
        <p class='summary_text'> Get in touch and tell us about your business. No matter how big or small, we will adapt to your needs. We are here to help you grow! </p>
        <a href='contacts/new' class="home_btns">Drop Us an Email</a>
      </div>
    </div>
  </div>  

  <!-- <div class="row who_we_are">
    <h1 class='who_title'> Who Are We? </h1>
    <hr class="underline">
    <p class='who_body'> We are a Web Development & Design Agency. The idea of starting twopeace came to us one day after having a discussion about our local community and discovered a problem. Most, if not all of the businesses around did not have an online presence besides having a simple facebook page. Then we realized we were onto something great and with our skills and knowledge we would be able to resolve the issue. This is the new era and everything is now on the internet. If you want to be known worldwide, gain more customers, and grow your business you have to be on the internet. That is when we came up with a name, twopeace, and set a goal for ourselves to put our community as well as anyone who is willing to take the next step in their business on the internet. We will design, develop, and market your business website and do whatever it takes to help you expand. </p>
  </div> -->

  <div class="row what_we_do">
    <h1 id='what_title'> What We Do </h1>
    <hr class="underline"/>
    <p class='what_slogan'>We provide your startup or small business with a </p>
    <p class='what_slogan'>high-quality design and hand-crafted website.</p>

    <div class='what_we_do_inner col_3'>
      <h1 class='what_titles'>BUILD YOUR BRAND</h1>
      <hr class="what_under">
      <p class='what_body'> One of our specializations is building a brand for your startup or business. You new brand will stick to your current customers as well as new customers. </p>
    </div>

    <div class='what_we_do_inner col_3'>
      <h1 class='what_titles'>MARKETING & ADVERTISING</h1>
      <hr class="what_under">
      <p class='what_body'> This is one of our strongest traits. Some things we provide your business or startup with include: building your social media, business cards with your new branding, email services, & banner ads.</p>
    </div>

    <div class='what_we_do_inner col_3'>
      <h1 class='what_titles'>E-COMMERCE WEBSITES</h1>
      <hr class="what_under">
      <p class='what_body'> We specialize in building an online store for your startup or business. We set you up with a website that allows you to take in profits and allow you to sell your products with ease. </p>
    </div>
  </div>

    <div class='row advertise'>
      <p class='advertext'> What are you waiting for? Contact us now and take the next step in your business! </p>
      <a href="contacts/new" class='advertise_btn'>Drop Us an Email</a>
    </div>

    <div class="row our_mission">
      <h1 id='our_mission_title'> Our Mission </h1>
      <hr class="underline">
        <p id='our_mission_body'> Our soul purpose is to transform non-technical communites into a well developed, fully immersive, & professional online community where everyone is connected and will be able to grow their startup or business. We are here to provide service to all startups & businesses who are in need of a helping hand to go the extra mile that will help you expand your business and keep customers coming back.   </p>
        <a href='contacts/new' class="home_btns">Get Started Now</a>
    </div>
</div>
