<div class="grid-container">
  <div class="row">
    <div class='headers'>
      <h1 id='crew_title'> OUR CREATIONS </h1>
    </div>
  </div>  

  <div class="row">
    <div class='work_space'>
      <p id='work_slogan'>WORK IN PROGRESS</p>
        <hr class="underline"/>
      <p class='work_para'>We are building sites for a couple of great clients at the moment, please check back frequently to see our progress! To make it up to you here is a video for you to watch!</p>
    </div> 
  </div>  
</div>    
