<div class="grid-container">
  <div class="row">
    <div class='headers'>
      <h1 id='crew_title'> THE CREW </h1>
    </div>
  </div>  

  <div class="row">
    <div class='text_space'>
      <p id='team_slogan'> HUMBLE, KIND, AND HARDWORKING </p>
        <hr class="underline"/>
      <p class='para'>Welcome to the crew. We work hard. We code hard. And we get sh*t done.</p>

      <img class='prof_pic' src='scot_prof.png' />
      <p class='info'> Scot Chard / CEO / Founder</p>
    </div> 
  </div>  
</div>    
