<div class="grid-container">
  <div class="row main_home">
    <div class="col_1">
      <h1 id='thanks_header'> Thank You For Contacting Us!</h1>
      <p id='thanks_para'> We will be in touch with you soon.</p>
    </div>
  </div>
</div>  
<br/>