<div class="grid-container">
  <div class="row">
    <div class="main_home">
      <div class="col-2">
        <h1 id='thanks_header'> Thank You For Contacting Me!</h1>
        <p id='thanks_para'> I will be in touch with you soon.</p>
      </div>
    </div>
  </div>
</div>  