<div class="grid-container">
  <div class="row">
    <div class="headers">
      <h1 id='crew_title'> CONTACT US </h1>
    </div>
  </div>
  
  <div class="form_div">
    <input class="input_box" placeholder="Full Name" type="text">
    <br/>
    <input class="input_box" placeholder="Telephone" type="tel">
    <br/>
    <input class="input_box" placeholder="Email" type="email">
    <br/>
    <textarea class="text_area" placeholder="Message"></textarea>
    <br/>
    <button class="submit_btn" type="submit">Submit</button>
  </div>
</div>



     
