<div class="grid-container">
  <div class="row">
    <div class="footer_nav">
      <div class="footer-links">
        <%= link_to 'HOME', root_path, :class => 'directory_foot' %>
        <%= link_to 'OUR TEAM', our_team_path, :class => 'directory_foot' %>
        <%= link_to 'OUR WORK', our_work_path, :class => 'directory_foot' %>
        <%= link_to 'CONTACT US', new_contact_path, :class => 'directory_foot' %>
      </div>  
    </div>  
  </div>  
</div>  